@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

body {
    margin: 0;
}

/* =================================== */
/* ------------- Texto --------------- */
/* =================================== */

/* =================================== */
/* ------------- scrollbar --------------- */
/* =================================== */

.scrollbar-navMenu::-webkit-scrollbar {
    width: 0;
}

.scrollhost::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}
.scrollhost::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scrollhost::-webkit-scrollbar-thumb {
    background: #888;
}
.scrollhost::-webkit-scrollbar-thumb:hover {
    background: #555;
}
